body {
    margin: 0;
    font-family: Arial;
    height: 100vh;

    
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head li{
    list-style: none;
    display: inline-block;
    color: white;
}
.head, footer{
    background-color: rgb(2, 0, 3);
    color: white;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.head a {
    text-decoration: none;
    align-items: right;
	border-radius: 5px;
	background: rgb(201, 93, 201);
	color: antiquewhite;
	padding:4px 4px;
    margin-top: 10px;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-box {
    width: 300px;
    padding: 30px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    text-align: center;
}
.login-box:hover{
    transform: translateY(-10px) scale(1.04);
    box-shadow: 0 0 10px rgba(128, 0, 255, 0.7),
                0 0 20px rgba(128, 0, 255, 0.6),
                0 0 40px rgba(128, 0, 255, 0.4);

    border: 1px solid #8000ff;

}


.avatar {
    font-size: 50px;
    margin-bottom: 20px;
}


.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;

    background: transparent;
    border-bottom: 1px solid #ccc;
    color: white;
}


.options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
}

.options a {
    color: #ddd;
    text-decoration: none;
}


button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    margin-bottom: 15px;

    background: linear-gradient(90deg, #a855f7, #3b82f6);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #a855f7;
}
button:active{
    transform:scale(0.97);
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 50px;
}


.left-content {
    width: 50%;
    color: white;
}

.left-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.left-content p {
    font-size: 18px;
    line-height: 1.6;
}


.login-container {
    width: 40%;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {

    .main-container {
        flex-direction: column;
        padding: 20px;
    }

    .left-content {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .login-container {
        width: 100%;
    }

    .login-box {
        width: 100%;
    }

    input, button {
        width: 100%;
    }

}